<div>
  {% render 'media', media: product.featured_media %}
</div>
<div
  style="
    {% if product.media.size > 2 %}
      column-count: 2;
    {% endif %}
  "
  class="gap-2 mt-2"
>
  {% for media in product.media %}
    {% unless media.id == product.featured_media.id %}
      <div class="item mb-2">
        {% render 'media', media: media %}
      </div>
    {% endunless %}
  {% endfor %}
</div>
