{% assign media_id = product.featured_media.id %}
<div>
  {% if product.selected_or_first_available_variant.featured_media.id %}
    {% render 'media', media: product.selected_or_first_available_variant.featured_media %}
    {% assign media_id = product.selected_or_first_available_variant.featured_media.id %}  
  {% else %}
    {% render 'media', media: product.featured_media %}
  {% endif %}
</div>

{% if product.media.size > 1 %}
  <div
    class="gap-2 mt-2 {% if product.media.size != 2 %}media-column{% endif %} show collapse"
    id="collapseMedia"
  >
    {% for media in product.media %}
      {% unless media.id == media_id %}
        <div class="item mb-2">
          {% render 'media', media: media %}
        </div>
      {% endunless %}
    {% endfor %}
  </div>
  <button
    class="mx-auto d-block d-md-none nav-link my-4"
    type="button"
    data-bs-toggle="collapse"
    data-bs-target="#collapseMedia"
    aria-expanded="false"
    aria-controls="collapseMedia"
  >
    <a class="link-underline-primary toggleButton"> Show Other Media </a>
  </button>
{% endif %}

<script>
  var myDiv = document.getElementById('collapseMedia');
  if (window.innerWidth <= 767) {
    // Remove the class on mobile
    myDiv.classList.remove('show');
  } else {
    // Add the class on desktop
    myDiv.classList.add('show');
  }
</script>