<div class="share-button">
    
<button id="copyLinkButton" class="btn btn-primary me-2" onclick="copyLink()" data-article-url="{{ request.origin | append: article.url }}"> {% render 'icon-copy' %} Copy Link</button>



  </div>
  
  