<div class="share-button">
    <a href="{{ share_link }}" class="btn btn-primary" target="_blank">Share</a>
    <button id="copyLinkButton" class="btn btn-primary" onclick="copyLink()">Copy Link</button>
    <input type="text" id="shareLinkInput" value="{{ share_link }}" style="position: absolute; left: -9999px;">
  </div>
  
  