<html>
  <head>
    {{ content_for_header }}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- bootstrap -->
    {{ 'bootstrap.min.css' | asset_url | stylesheet_tag }}
    <script src="{{ 'bootstrap.min.js' | asset_url }}" defer="defer"></script>
  </head>
  <body>
    {% section "password-header" %}
    <main>
        {{ content_for_layout }}
    </main>
    {% section "password-footer" %}
  </body>
</html>