<html>
  <head>
    {{ content_for_header }}
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    {% render 'header-import' %}
  </head>
  <body>
    {% sections 'header-group' %}
    <main>
      {{ content_for_layout }}
    </main>
    {% sections 'footer-group' %}
    {% render 'footer-import' %}
  </body>
</html>
