<section class="container py-5">
  <div class="row g-0 align-items-center">
    <div class="col-md-6">
      <div class="card-body">
        <h1 class="card-title">Explore Minimal Design</h1>
        <p class="card-text">
          This is a wider card with supporting text below as a natural lead-in to additional content. This content is a
          little bit longer.
        </p>
        <button type="button" class="btn rounded-5 btn-primary">
          Shop now
          
          <i class="fa-solid fa-arrow-right"></i>
        </button>
      </div>
    </div>
    <div class="col-md-6">
      <img
        src="{{ section.settings.image_with_text_image | img_url: '720x' }}"
        class="img-fluid rounded-end"
        alt="..."
      >
    </div>
  </div>
</section>

{% schema %}
{
  "name": "Image with Text",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image_with_text_image",
      "label": "Image"
    }    
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Image with Text"
    }
  ]
}
{% endschema %}