<div class="card container my-5 border-0">
  <div class="row align-items-center g-0">
    <div class="col-md-6">
      {{
        section.settings.image_with_text_image
        | image_url: width: 720
        | image_tag: class: 'img-fluid rounded', alt: section.settings.image_with_text_image.alt
      }}
    </div>
    <div class="col-md-6">
      <div class="card-body">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'caption' %}
              <p class="card-text">
                <small class="text-body-secondary">{{ block.settings.caption }}</small>
              </p>
            {% when 'heading' %}
              <h5 class="card-title">{{ block.settings.heading }}</h5>
            {% when 'content' %}
              <p class="card-text">{{ block.settings.paragraph }}</p>
          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Image with Text",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
      "type": "image_picker",
      "id": "image_with_text_image",
      "label": "Image"
    }
  ],
  "blocks": [
    {
      "type": "caption",
      "name": "Caption",
      "settings": [
        {
          "type": "text",
          "id": "caption",
          "label": "Caption",
          "default": "Caption"
        }
      ]
    },
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "inline_richtext",
          "id": "heading",
          "default": "Heading",
          "label": "Heading"
        }
      ]
    },
    {
      "type": "content",
      "name": "paragraph",
      "settings": [
        {
          "type": "richtext",
          "id": "paragraph",
          "label": "Content",
          "default": "<p>Lorem, ipsum dolor sit amet consectetur adipisicing elit. Voluptas numquam esse fuga sed dignissimos, eos delectus.</p>"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Image with Text",
      "blocks": [
        {
          "type": "caption"
        },
        {
          "type": "heading"
        },
        {
          "type": "content"
        }
      ]
    }
  ]
}
{% endschema %}
