<div class="container">
  <div class="row">
    <!-- Left Sidebar with Buttons -->
    {% render 'account-sidebar' %}

    <!-- Right Content Area -->
    <div class="col-md-9 col-sm-12 pt-4 pb-4">
      <!-- Content for Account -->
      <div id="account" class="content">
        <div>
          <h4><strong>Name:</strong> {{ customer.default_address.name }}</h4>
          <p><strong>Email:</strong> {{ customer.email }}</p>
          <p><strong>Address:</strong> {{ customer.default_address.address1 | append: "," | append: customer.default_address.city | append: "," | append: customer.default_address.country }}</p>
          
          {% assign last_order = customer.orders | last %}
          {% if last_order %}
            <p><strong>Last Order:</strong> Order #{{ last_order.order_number }}</p>
          {% else %}
            <p><strong>Last Order:</strong> No orders found</p>
          {% endif %}                    
        </div>
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Account Information",
  "class": "section",
  "settings": []
}
{% endschema %}
