<section>
    <h1>{{ collection.title }}</h1>
</section>

{% schema %}
{
  "name": "Collection",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [],
  "blocks": [],
  "presets": [
    {
      "name": "Collection"
    }
  ]
}
{% endschema %}
