<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-md-6">
      <div id="subsribeFormHere">
        <h2 class="mb-4 text-center">Website Coming Soon!</h2>
        {% form 'customer' %}
          {{ form.errors | default_errors }}

          <div class="tags">
            <input type="hidden" name="contact[tags]">
          </div>

          <div class="email form-group">
            <label for="email">Subscribe for Updates</label>
            <input placeholder="Email" type="email" class="form-control" id="email" name="contact[email]" required>
          </div>
          <br>

          <div class="submit">
            <button type="submit" class="btn btn-primary btn-block">Subscribe</button>
          </div>
        {% endform %}

        <div class="mt-3 text-center">
          <p>Already have access? <a class="link" href="#passkey" onclick="toggleForms()">Enter Your Password</a></p>
        </div>
      </div>

      {% comment %} Recover Account Form {% endcomment %}
      <div id="passwordFormHere" style="display: none;">
        <h2 class="mb-4 text-center">Enter Your Password</h2>
        {% form 'storefront_password' %}
          {{ form.errors | default_errors }}

          <div class="password form-group">
            <label for="password">Password</label>
            <input type="password" class="form-control" id="password" name="password" required>
          </div>
          <br>

          <div class="submit">
            <button type="submit" class="btn btn-warning btn-block">Submit</button>
          </div>
        {% endform %}
        <br>
        <div class="text-center">
          <p>Want to subscribe? <a class="link" href="#subscribe" onclick="toggleForms()">Go Back to Subscribe Page</a></p>
        </div>
      </div>
    </div>
  </div>
</div>

<script>
  // Function to toggle between login and recover forms
  function toggleForms() {
    var passwordForm = document.getElementById('passwordFormHere');
    var subsribeForm = document.getElementById('subsribeFormHere');

    if (passwordForm.style.display === 'none') {
      passwordForm.style.display = 'block';
      subsribeForm.style.display = 'none';
    } else {
      passwordForm.style.display = 'none';
      subsribeForm.style.display = 'block';
    }
  }

  // Check URL hash and show recover form if needed
  if (window.location.hash === '#passkey') {
    toggleForms();
  }
</script>

{% schema %}
{
  "name": "Passowrd",
  "class": "section",
  "settings": []
}
{% endschema %}
