<div class="container mt-5 mb-5">
  <div class="row justify-content-center">
    <div class="col-md-6 text-center">
      <h1 class="display-4">404</h1>
      <p class="lead">Page not found</p>
      <a href="{{ routes.root_url }}" class="btn btn-primary">Go to Home Page</a>
    </div>
  </div>
</div>


{% schema %}
{
  "name": "Not Found Page",
  "class": "section",
  "settings": [
    {
      "type": "paragraph",
      "content": "No customization available. Contact us for personalized options!"
    }
  ]
}
{% endschema %}