<div class="container mt-5 mb-5">
  <h1 class="mb-4">{{ section.settings.heading }}</h1>

  <div class="row">
    {% for collection in collections %}
      <div class="col-md-4 mb-4">
        {% include "collection-card" %}
      </div>
    {% endfor %}
  </div>
</div>

{% schema %}
{
  "name": "List Collections",
  "class": "section",
  "settings": [
    {
      "type": "inline_richtext",
      "id": "heading",
      "default": "Collections",
      "label": "Heading"
    },
    {
      "type": "header",
      "content": "Collection Card"
    },
    {
      "type": "checkbox",
      "id": "show_collection_image",
      "label": "Show Collection Image",
      "default": false
    }   
  ]
}
{% endschema %}
