<!-- As a heading -->
<nav class="container navbar navbar-light bg-light">
  <span class="navbar-brand mb-0 h1">{{ shop.name }}</span>
</nav>

{% schema %}
{
  "name": "Password Header",
  "settings": [
    {
      "type": "header",
      "content": "Logo"
    },
    {
      "type": "paragraph",
      "content": "Edit your logo in theme settings."
    }
  ]
}
{% endschema %}
