<nav class="navbar bg-body-tertiary">
  <div class="container">
    <p class="navbar-brand">
      {% if settings.logo != blank %}
        {{
          settings.logo
          | image_url: width: 30, height: 24
          | image_tag: alt: settings.logo.alt, class: 'd-inline-block align-text-top'
        }}
      {% else %}
        {{ shop.name }}
      {% endif %}
    </p>
  </div>
</nav>

{% schema %}
{
  "name": "Password Header",
  "settings": [
    {
      "type": "header",
      "content": "Logo",
      "info": "You can the logo from theme settings."
    }
  ]
}
{% endschema %}
