<div class="container my-5">
  <div class="row justify-content-center">
    <div class="card border-0 text-center col-md-6">
      <div class="card-body">
        {% for block in section.blocks %}
          {% case block.type %}
            {% when 'heading' %}
              <h5 class="card-title">{{ block.settings.rich_text_title }}</h5>
            {% when 'content' %}
              <p class="card-text">{{ block.settings.paragraph }}</p>
            {% when 'button' %}
              <a href="{{ block.settings.button_link }}" class="btn btn-primary">{{ block.settings.button_title }}</a>
          {% endcase %}
        {% endfor %}
      </div>
    </div>
  </div>
</div>

{% schema %}
{
  "name": "Rich Text",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "rich_text_title",
          "label": "Heading",
          "default": "Heading"
        }
      ]
    },
    {
      "type": "content",
      "name": "Content",
      "limit": 1,
      "settings": [
        {
          "type": "richtext",
          "id": "paragraph",
          "label": "Paragraph",
          "default": "<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Est inventore alias laudantium hic. Neque deserunt est aperiam repudiandae.</p>"
        }
      ]
    },
    {
      "type": "button",
      "name": "Button",
      "limit": 1,
      "settings": [
        {
          "type": "text",
          "id": "button_title",
          "label": "Button Label",
          "default": "Button"
        },
        {
          "type": "url",
          "id": "button_link",
          "label": "Button link"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "Rich Text",
      "blocks": [
        {
          "type": "heading"
        },
        {
          "type": "content"
        },
        {
          "type": "button"
        }
      ]
    }
  ]
}
{% endschema %}
