<div class="card rounded-0 border-0 mt-5 text-center text-light">
  <img src="{{ section.settings.image | img_url: '1224x' }}" class="card-img rounded-0" alt="...">
  <div
    class="card-img-overlay d-flex flex-column align-items-center justify-content-center"
    style="background-color: rgba(0, 0, 0, 0.37)"
  >
    <h1 class="card-title">Get 10% off in your first order</h1>
    <button type="button" class="btn btn-warning rounded-5">Shop Now</button>
  </div>
</div>

{% schema %}
{
  "name": "Rich Text",
  "tag": "section",
  "class": "section",
  "disabled_on": {
    "groups": ["header", "footer"]
  },
  "settings": [
    {
        "type": "image_picker",
        "id": "image",
        "label": "Image"
    }      
  ],
  "blocks": [],
  "presets": [
    {
      "name": "Rich Text"
    }
  ]
}
{% endschema %}
