.btn-copied {
  background-color: #28a745; /* Change to the desired color when copied */
  color: #fff; /* Change to the desired text color when copied */
}

.copy-message {
  color: #28a745; /* Change to the desired text color for the message */
  font-size: 14px; /* Adjust the font size as needed */
  margin-left: 5px; /* Add some spacing to the left of the button */
}



.header-right-buttons {
  margin-left: 0.5rem;
}
.media-column {
  column-count: 2;
}

@media only screen and (max-width: 768px) {
  .media-column {
    column-count: 1;
  }
  .header-right-buttons {
    margin-left: 0rem;
    margin-top: 0.5rem;
  }
  .header-right-buttons:first-child {
    margin-left: 0.5rem;
  }
  form[role="search"] {
    width: 100%;
  }
}
