@font-face {
  font-family: "Heebo";
  src: url("Heebo-Regular.woff2") format("woff2"),
    url("Heebo-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Manrope";
  src: url("Manrope-Regular.woff2") format("woff2"),
    url("Manrope-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

* {
  font-family: "Manrope";
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Heebo";
}

p {
  font-family: "Manrope";
}

.font-manrope {
  font-family: "Manrope";
}

.font-Heebo {
  font-family: "Heebo";
}

/* button  */
.rounded-full {
  height: 44px;
  width: 44px;
  border-radius: 50% !important;
}

/* product-card */
.product-card {
  position: relative;
}

.product-card img {
  opacity: 1;
  display: block;
  width: 100%;
  height: auto;
  transition: 0.3s ease;
  backface-visibility: hidden;
}

.middle {
  transition: 0.3s ease;
  opacity: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  z-index: 2;
}

.product-card:hover::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.411); /* Dark overlay color */
  z-index: 1;
}

.product-card:hover img {
  opacity: 1;
  transition: 0.3s ease;
}

.product-card:hover .middle {
  opacity: 1;
  transition: 0.3s ease;
}

/* product image slider */
.thumbnails {
  display: flex;
  margin: 1rem auto 0;
  padding: 0;
  justify-content: center;
}
.splide {
  height: 420px;
}
.thumbnail {
  width: 70px;
  height: 70px;
  overflow: hidden;
  list-style: none;
  margin: 0 0.2rem;
  cursor: pointer;
}
.thumbnail.is-active {
  border: 1px solid black;
}
.thumbnail-image {
  width: 100%;
  height: 100%;
  object-fit: contain;
}
.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* variant css */
.variant-item {
  cursor: pointer;
}
.variant-item.active {
  background-color: #000000; /* Set the background color for the selected item */
  color: #fff; /* Set the text color for the selected item */
}
