/* product image slider */
.thumbnails {
  display: flex;
  margin: 1rem auto 0;
  padding: 0;
  justify-content: center;
}
.splide {
  height: 420px;
}
.thumbnail {
  width: 70px;
  height: 70px;
  overflow: hidden;
  list-style: none;
  margin: 0 0.2rem;
  cursor: pointer;
}
.thumbnail.is-active {
  border: 1px solid black;
}
.thumbnail-image {
  width: 100%;
  height: 100%;
  transition: transform 0.3s ease;
}
.thumbnail img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

/* variant css */
.variant-item {
  cursor: pointer;
}
.variant-item.active {
  background-color: #000000; /* Set the background color for the selected item */
  color: #fff; /* Set the text color for the selected item */
}
